$lineheight: 1.1rem;
$max-height: $lineheight * 7;
//$ellipsiswidth: 3em !default;



.header{
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    &__container{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}

.results{
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }
}
.card{
    // display: flex;
    // //height: 364px;
    // background-color: white;
    // border: none;
    // margin-top: 1.5rem;
    // margin-bottom: 1.5rem;
    // width: 380px;
    // & a{
    //     text-decoration: none;
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 100%;
    //     &:hover{
    //         text-decoration: none
    //     }
    // }
    &__img{
        display: flex;
        height: 178px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: $card-img-bg-color;
    }
    &__txt{
        display: flex;
        flex-direction: column;
        height: 220px;
        //padding: 20px;
        padding: 1rem 1rem 0 1rem;
        background-color:$card-bg-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    &__body{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        &__list{
            list-style-type: none;
            padding: 0;
            flex-basis: 50%;
        }
        &__description{
            flex-basis: 50%;
            overflow: hidden;
            line-height: $lineheight;
            max-height: $max-height;
            //text-align: justify;
            // &::before {
            //     content:"";
            //     position: relative;
            //     float: left;
            //     width: 5px; 
            //     height: 3rem; 
            // }
            // &::after{
            //     content: "\02026";
            //     float: left; 
            //     position: relative;
            //     top: -3rem; 
            //     left: 95%;
            //     width: 3rem; 
            //     margin-left: -3em;
            //     padding-right: 5px;
            //     text-align: right;
            //     background: linear-gradient(to right, $card-bg-color,$card-bg-color 50%)
            // }
            // &> *:first-child {
            //     float: right;
            //     width: 100%;
            //     margin-left: -5px; 
            // }
        }
        
    }
}

// .truncate-overflow {
//     max-height: $height;
//     overflow: hidden;
//     &::before {
//         content: "...";
//         position: absolute;
//         bottom: 0;
//         right: 0;
//       }
//     &::after {
//         content: "";
//         position: absolute;
//         right: 0; /* note: not using bottom */
//         width: 1rem;
//         height: 1rem;
//         background: white;
//       }
// }
