.bold {
  font-weight: 700;
}

.card__txt {
  color: black;
}
.card__header > h3 {
  font-size: 18px;
  width: 70%;
}
.card__body {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.search__bar {
  display: block;
  width: 100%;
  padding-left: 1rem;
  height: 4rem;
  border-radius: 5px;
  background-color: #E7E7E7;
}
.search__btn {
  display: block;
  border: unset;
  background-color: unset;
  outline: unset;
  height: 4rem;
  width: 4rem;
  margin-left: -4rem;
}
.search__icon {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: 2rem;
}

.tag {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .tag {
    flex-direction: column;
  }
}
.tag--size {
  margin-right: 1rem;
}
@media (max-width: 600px) {
  .tag--size {
    margin-right: 0;
  }
}
.tag__ingredients--color {
  background-color: #3282F7;
  border-radius: 5px 5px 5px 5px;
}
.tag__appliances--color {
  background-color: #68D9A4;
  border-radius: 5px 5px 5px 5px;
}
.tag__ustensils--color {
  background-color: #ED6454;
  border-radius: 5px 5px 5px 5px;
}
.tag__search {
  max-width: 100%;
  border: unset;
  outline: unset;
  height: 3rem;
  padding-left: 1rem;
  color: white;
}
.tag__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.tag__icon .fa {
  color: white;
}

input::placeholder {
  color: white;
}

.displayIcon {
  display: inline-block;
  margin-left: -1.5rem;
}

.hidden {
  display: none;
}

.displayedList {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 667px;
  width: 667px;
  opacity: 1;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin-top: -5px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .displayedList {
    max-width: none;
    width: 100%;
  }
}

.tag__filter {
  padding: 10px;
  color: white;
}
.tag__filter:hover {
  background-color: #63a0f9;
}
@media (max-width: 600px) {
  .tag__filter {
    font-size: 0.9rem;
  }
}

.selected {
  background-color: #63a0f9;
}

.filterActive {
  display: block;
  /*background-color:$tag-ingredient-color;*/
  padding: 0.7rem 1.25rem;
  border-radius: 5px;
  margin: auto 5px 5px 0;
  color: white;
}
.filterActive i {
  margin-left: 1rem;
}
@media (max-width: 600px) {
  .filterActive {
    width: fit-content;
  }
}

.fa-chevron-down {
  color: white;
}

.header {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.header__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.results__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.card {
  display: flex;
  background-color: white;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 380px;
}
.card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card__img {
  display: flex;
  height: 178px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #C7BEBE;
}
.card__txt {
  display: flex;
  flex-direction: column;
  height: 220px;
  padding: 1rem 1rem 0 1rem;
  background-color: #E7E7E7;
}
.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card__body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.card__body__list {
  list-style-type: none;
  padding: 0;
  flex-basis: 50%;
}
.card__body__description {
  flex-basis: 50%;
  overflow: hidden;
  line-height: 1.3rem;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
