
.tag{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    justify-content: flex-start;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    &--size{
        margin-right: 1rem;
        @media (max-width: 600px) {
            margin-right: 0;
        }
    }
    &__ingredients--color{
        background-color: $tag-ingredient-color;
        border-radius: 5px 5px 5px 5px;
    }
    &__appliances--color{
            background-color: $tag-appliance-color;
            border-radius: 5px 5px 5px 5px;
    }
    &__ustensils--color{
            background-color: $tag-utensil-color;
            border-radius: 5px 5px 5px 5px;
    }
    &__search{
        max-width: 100%;
        border: unset;
        outline: unset;
        height: 3rem;
        padding-left: 1rem;
        color: white;
    }
    // &__icon-up{
    //      display: none;
    //      & fa{
    //          color:white;
    //      }
    // }
    &__icon{
        display: flex;
        align-items: center;
        margin-right: 10px;
        & .fa{
            color:white;
            }
    }
}

input::placeholder{
    color:white;
}
.displayIcon{
    display: inline-block;
    margin-left: -1.5rem;
 }
.hidden{
     display: none;
 }

.displayedList{
            display :grid;
            grid-template-columns: auto auto auto;
            max-width: 667px;
            width: 667px;
            opacity: 1;
            padding: 10px;
            border-radius: 0 0 5px 5px;
            list-style: none;
            margin-top: -5px;
            cursor:pointer;
            @media (max-width: 600px) {
                max-width: none;
                width: 100%;
            }
        }
.tag__filter{
    padding: 10px;
    color: white;
    &:hover{
        background-color:lighten($tag-ingredient-color, $amount: 10);
    }
    @media (max-width: 600px) {
        font-size: .9rem;
    }
}

.selected{
    background-color:lighten($tag-ingredient-color, $amount: 10);
}

.filterActive{
    display: inline-block;
    /*background-color:$tag-ingredient-color;*/
    padding: .7rem 1.25rem;
    border-radius: 5px;
    margin: auto 5px 5px 0;
    color: white;
    & i{
        margin-left: 1rem;
    }
    @media (max-width: 600px) {
        width: fit-content;
    }
}
.fa-chevron-down{
    color:white;
}