
.tag{
    display: flex;
    margin-left: 5rem;
    justify-content: flex-start;
    &--size{
        margin-right: 1rem;
    }
    &__ingredients--color{
        background-color: $tag-ingredient-color;
        border-radius: 5px 5px 5px 5px;
    }
    &__appliances--color{
            background-color: $tag-appliance-color;
            border-radius: 5px 5px 5px 5px;
    }
    &__ustensils--color{
            background-color: $tag-utensil-color;
            border-radius: 5px 5px 5px 5px;
    }
    &__search{
        max-width: 100%;
        border: unset;
        outline: unset;
        height: 3rem;
        padding-left: 1rem;
        color: white;
    }
    // &__list{
    //      display :none;
    // }
    &__icon-up{
         display: none;
         & fa{
             color:white;
         }
    }
    &__icon-down{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
}

.displayIcon{
    display: inline-block;
    margin-left: -1.5rem;
 }
.hidden{
     display: none;
 }

.displayedList{
            display :flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 667px;
            max-height: 1900px;
            width: 667px;
            /*background-color:$tag-ingredient-color;*/
            opacity: 1;
            padding: 10px;
            border-radius: 0 0 5px 5px;
            list-style: none;
            margin-top: -5px;
            cursor:pointer;
        }
.tag__filter{
    padding: 10px;
    color: white;
    &:hover{
        background-color:lighten($tag-ingredient-color, $amount: 10);
    }
}

.selected{
    background-color:lighten($tag-ingredient-color, $amount: 10);
}

.filterActive{
    display: block;
    /*background-color:$tag-ingredient-color;*/
    padding: .7rem 1.25rem;
    border-radius: 5px;
    margin: auto 5px 5px 0;
    color: white;
    & i{
        margin-left: 1rem;
    }
}
.fa-chevron-down{
    color:white;
}