@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;700;900&display=swap");

body{
    font-family: 'Lato', sans-serif;
}

.bold{
    font-weight: 700;
}
.card{
    &__txt{
        color: black;
    }
    &__header > h3{
        font-size: 18px;
        width: 70%;
    }

    &__body{
        font-size: 12px;
        &__description{
            font-family: 'Roboto', sans-serif;
        }
    }
}

a {
    text-decoration: none !important ;
    &:hover{
        text-decoration: none !important ;
    }   
}