.bold{
    font-weight: 700;
}
.card{
    &__txt{
        color: black;
    }
    &__header > h3{
        font-size: 18px;
        width: 70%;
    }

    &__body{
        font-size: 12px;
    }
}

a {
    text-decoration: none !important ;
    &:hover{
        text-decoration: none !important ;
    }   
}